@import "../../index";

.Popup,
.Popup__background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 0;
}

.Popup {
  @include center-100();
  background-color: rgba($color: #c0c4cc, $alpha: 0.5);
  backdrop-filter: blur(3px);

  .Popup__container {
    @include container();
    @include center();
    flex-direction: row;
    border-radius: 15px;
    position: relative;
    background-color: white;
    transition: all 0.3s;
    z-index: 1;

    @include x-large-screen {
      margin: 0 1rem;
      flex-direction: column;
    }

    .Popup__container_content {
      @include center();
      flex-direction: column;
      flex: 1;
      height: 17rem;
      padding: 1rem;
      overflow-y: hidden;
      border-radius: 15px;

      .Popup__container_content_btn {
        padding: 0.5rem 1rem;
        background-color: aqua;
        border-radius: 10px;
        outline: none;
        border: none;
        text-transform: uppercase;
        margin-top: 1rem;
      }
    }

    .Popup__container_file {
      @include center();
      width: 30rem;
      height: 17rem;
      border-top-right-radius: 15px;
      border-bottom-right-radius: 15px;

      @include medium-screen {
        width: 20rem;
      }

      @include x-large-screen {
        border-radius: 15px;
      }
    }

    .Popup__container_next,
    .Popup__container_back {
      position: absolute;
      background-color: white;
      width: 3rem;
      height: 3rem;
      padding: 0.7rem;
      border-radius: 50%;
      outline: none;
      border: none;
    }
    .Popup__container_next {
      right: -1.5rem;

      .Popup__container_next_img {
        width: 100%;
        height: 100%;
        transform: rotate(90deg);
      }
    }

    .Popup__container_back {
      left: -1.5rem;

      .Popup__container_back_img {
        width: 100%;
        height: 100%;
        transform: rotate(-90deg);
      }
    }
  }
}
